name: Azure Static Web Apps OIDC

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v3

      - name: Get GitHub OIDC token
        id: idtoken
        uses: actions/github-script@v6
        with:
          script: |
            const core = require('@actions/core');
            return await core.getIDToken();
          result-encoding: string

      - name: Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          action: upload
          app_location: "/"
          skip_app_build: true
          github_id_token: ${{ steps.idtoken.outputs.result }}
